<h2>{{ planet.name }} Details:</h2>
<div><span>Diameter: </span>
  {{planet.diameter}}
  <span>miles</span>
</div>
<div><span>Distance from the sun: </span>
  {{planet.distance_from_sun}}
  <span>AU</span>
</div>
<div><span>Days it takes to orbit the sun: </span>
  {{planet.orbit_in_days}}
</div>
<div><span>Orbit Speed: </span>
  {{planet.orbit_speed_mph}}
  <span>MPH</span>
</div>
<div><span>Rotation Speed: </span>
  {{planet.rotation_speed}}
  <span>MPH</span>
</div>
<div><span>High Temperature: </span>
  {{planet.high_temp_f}}
  <span>&#8457;</span>
</div>
<div><span>Low Temperature: </span>
  {{planet.low_temp_f}}
  <span>&#8457;</span>
</div>
<div><span>Number of moons: </span>
  {{planet.num_of_moons}}
</div>
